[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pipfile = "*"
pymongo = "*"
pandas = "*"
numpy = "*"
mysql-connector-python = "*"
python-dotenv = "*"
sqlalchemy = "*"
scikit-learn = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"
